<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <div class="cards-inputs">
        <form action="/" method="get">
            <label>
                Страна:
                <select name="country">
                    <option value="0">Любая</option>
                    {% for country in countries %}
                    <option value="{{ country.id }}"
                        {% if select_country_id==country.id %}
                        selected
                        {% endif %}>{{ country.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-blue">Фильтр</button>
            </label>
        </form>
    </div>
    <div class="cards">
        {% for card in cards %}
        <div class="card" onclick="location = '/service/{{ card.id }}'">
            <div class="card__top-left">
                <div class="card__name">{{ card.name }}</div>
                <div class="card__count">{{ card.count }} номеров</div>
            </div>
            <div class="card__bottom-left">
                <div class="card__country">{{ card.country }}</div>
            </div>
            <div class="card__bottom-right">
                <div class="card__price">{{ card.price }} руб.</div>
            </div>
        </div>
        {% else %}
            <h3>Пусто</h3>
        {% endfor %}
    </div>
</div>